@import "./resets";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");
@import "./colors";

* {
   font-family: "IBM Plex Sans Arabic";
}

.text {
   $text-colors: (
      primary: $text-primary ,
      gold: $primary,
      secondary: $secondary ,
      third: $third,
      forth: $forth,
      gray:#666666
   );

@each $name, $color in $text-colors {
   &-#{$name} {
      color: $color !important;
   }
}
}

.fs {
   &-1 {
      font-size: 3.812rem;
   }

   &-2 {
      font-size: 3.062rem;
   }

   &-3 {
      font-size: 2.438rem;
   }

   &-4 {
      font-size: 1.938rem;
   }

   &-5 {
      font-size: 1.563rem;
   }
}

.bg {
   &-primary {
      background-color: $primary !important;
   }

   &-secondary {
      background-color: $secondary !important;
   }

   &-third {
      background-color: $third !important;
   }

   &-forth {
      background-color: $forth !important;
   }
}

.img-container>img {
   transition: transform 550ms ease;
}

.img-container>img:hover {
   transform: scale(1.03);
}

body {
   &::-webkit-scrollbar {
      width: 5px;
      margin-bottom: 10px;
      margin-right: 10px;
   }

   &::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 5px;
   }

   &::-webkit-scrollbar-thumb {
      background-color: $primary;
      border-radius: 10px;
      // margin-bottom: 10px;
      margin-top: 500px;
      margin-right: 10px;
   }
}

.list-item {
   cursor: pointer;
   transition: all 240ms;
}

.list-item:hover {
   background-color: rgba(202, 178, 114, 0.8);
   transform: scale(1.01);
}

.list-item-active {
   background-color: rgba(202, 178, 114, 0.8);
   transform: scale(1.01);
}

.teamShadow {
   box-shadow: 0px 4px 24px -1px #0000001A;
}

.carApp {
   width: 170px;
   height: 150px;
}

.over_margin {
   margin-top: 100px;
}

.form-control:focus {
   background: transparent;
   box-shadow: 0 0 0;
   border: 1px solid #dee2e6;
}

.cursor-pointer {
   cursor: pointer;
}

.patternLanding {
   position: absolute;
   left: 0;
   top: 50px;

}

.patternLandingRight {
   position: absolute;
   right: 0;
   bottom: 100px;
}

.mainBoxBLog {
   width: 88%;
}

.blogBox {
   box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.1);
   padding: 30px;
   border-radius: 10px;

}

.mainShadow {
   box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.1);

}

@media (max-width:770px) {
   .mainBoxBLog {
      width: 100%;
   }

   .blogBox {
      padding: 15px 15px;
      text-align: center;
      // line-height: 2.;
   }

   .blogBox h5 {
      line-height: 1.5;
   }
}

.is-invalid {
   color: red;

}

.form-check-input:checked {
   background-color: $primary !important;
   ;
   border-color: $primary !important;
   ;
}

.form-check-input:focus {
   border-color: $primary !important;
   box-shadow: 0 0 0 $primary
}

.custom-bg-color {
   background-color: #fafafa;
   /* Light background */
}

.custom-pulse {
   animation: pulse-animation 2s infinite;
   color: $secondary;
   padding: 10px;
   border: 1px solid $secondary
}

.z-index-high {
   z-index: 1050;
   /* Ensuring it's above most elements */
}

.rounded-circle {
   border-radius: 50% !important;
}

/* Custom animation keyframes */
@keyframes pulse-animation {
   0% {
      box-shadow: 0 0 0 0 $secondary;
   }

   70% {
      box-shadow: 0 0px 0 10px $secondary;
   }

   100% {
      box-shadow: 0 0 0 0 $secondary;
   }
}

.headerPages {
   margin: 0 155px
}


.newJob {
   margin: 0 90px
}

.menu_jobs {
   margin: 0 143px
}

@media (max-width:770px) {
   .headerPages {
      margin: 0 28px
   }

   .newJob {
      margin: 0 20px
   }

   .menu_jobs {
      margin: 0 20px;
   }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   -webkit-box-shadow: 0 0 0 30px white inset !important;

}

.text-justify {
   text-align: justify;
}

@media (max-width:1200px) {
   .imgVision {
      height: 100%;
      margin: auto;

   }

   .headingNumber {
      font-size: 2rem !important;

   }

   .headingVision {
      font-size: 16px !important;

   }

   .uploadDoc {
      height: 140px !important;
   }

   .coverImageStudio {
      width: 100% !important;
      height: 200px !important;

   }
}