@import "./resets";
// @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
// @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");
@import "./colors";

* {
   font-family: "IBM Plex Sans Arabic";
}

.text {
   $text-colors: (
      primary: $text-primary ,
      gold: $primary,
      secondary: $secondary ,
      third: $third,
      forth: $forth,
      gray:#666666
   );

@each $name, $color in $text-colors {
   &-#{$name} {
      color: $color !important;
   }
}
}

.fs {
   &-1 {
      font-size: 3.812rem;
   }

   &-2 {
      font-size: 3.062rem;
   }

   &-3 {
      font-size: 2.438rem;
   }

   &-4 {
      font-size: 1.938rem;
   }

   &-5 {
      font-size: 1.563rem;
   }
}

.bg {
   &-primary {
      background-color: $primary !important;
   }

   &-secondary {
      background-color: $secondary !important;
   }

   &-third {
      background-color: $third !important;
   }

   &-forth {
      background-color: $forth !important;
   }
}

.img-container>img {
   transition: transform 550ms ease;
}

.img-container>img:hover {
   transform: scale(1.03);
}

body {
   transition: background-color 0.5s ease, color 0.5s ease;
}

// .dark {
//    background-color: #121212;
//    color: #ffffff;
// }

.text-primary,
.text-gold,
.text-secondary,
.text-third,
.text-forth,
.text-gray {
   transition: color 0.5s ease-in-out;
}

.bg-primary,
.bg-secondary,
.bg-third,
.bg-forth {
   transition: background-color 0.5s ease-in-out;
}

.dark .bg-dark {
   background-color: $dark !important;
   transition: background-color 0.5s ease-in-out;


}

.bg-dark {
   background-color: white !important;
   transition: background-color 0.5s ease-in-out;

}


body {
   &::-webkit-scrollbar {
      width: 5px;
      margin-bottom: 10px;
      margin-right: 10px;
   }

   &::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 5px;
   }

   &::-webkit-scrollbar-thumb {
      background-color: $primary;
      border-radius: 10px;
      // margin-bottom: 10px;
      margin-top: 500px;
      margin-right: 10px;
   }

}



.list-item {
   cursor: pointer;
   transition: all 240ms;
}

.list-item:hover {
   background-color: rgba(202, 178, 114, 0.8);
   transform: scale(1.01);
}

.list-item-active {
   background-color: rgba(202, 178, 114, 0.8);
   transform: scale(1.01);
}

.teamShadow {
   box-shadow: 0px 4px 24px -1px #0000001A;
}

.carApp {
   width: 170px;
   height: 150px;
}

.over_margin {
   margin-top: 100px;
}

.form-control:focus {
   background: transparent;
   box-shadow: 0 0 0;
   border: 1px solid #dee2e6;
}

.dark .form-control {
   background: #e3e3e35e;
   color: white;
}

.cursor-pointer {
   cursor: pointer;
}

.patternLanding {
   position: absolute;
   left: 0;
   top: 50px;
   z-index: 10;

}

.patternLandingRight {
   position: absolute;
   right: 0;
   bottom: 100px;
   z-index: 10;

}

.mainBoxBLog {
   width: 88%;
}

.blogBox {
   box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.1);
   padding: 30px;
   border-radius: 10px;

}

.mainShadow {
   box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.1);

}

@media (max-width:770px) {
   .mainBoxBLog {
      width: 100%;
   }

   .blogBox {
      padding: 15px 15px;
      text-align: center;
   }

   .blogBox h5 {
      line-height: 1.5;
   }
}

.is-invalid {
   color: red;

}

.form-check-input:checked {
   background-color: $primary !important;
   ;
   border-color: $primary !important;
   ;
}

.form-check-input:focus {
   border-color: $primary !important;
   box-shadow: 0 0 0 $primary
}

.custom-bg-color {
   background-color: #fafafa;
}

.custom-pulse {
   animation: pulse-animation 2s infinite;
   color: $secondary;
   padding: 10px;
}

.dark .custom-pulse {
   color: $primary
}

.z-index-high {
   z-index: 1050;
}

.rounded-circle {
   border-radius: 3px !important;
   padding: 0;
}


.headerPages {
   margin: 0 155px
}


.newJob {
   margin: 0 90px
}

.menu_jobs {
   margin: 0 143px
}

@media (max-width:770px) {
   .headerPages {
      margin: 0 28px
   }

   .newJob {
      margin: 0 20px
   }

   .menu_jobs {
      margin: 0 20px;
   }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   -webkit-box-shadow: 0 0 0 30px white inset !important;

}

.text-justify {
   text-align: justify;
}

.patternTeam {
   width: 14%;
   right: 9px;
   bottom: 25px;
   transform: scale(-1);
}

[dir='ltr'] .patternTeam {
   left: 9px;
}

.contentJoin {
   width: 75%;

}

.patternImage {
   top: 15px !important;
   left: 6px !important;
   width: 8%;

}

.rakayaStudio {
   padding: 0 39px
}

@media (max-width:1200px) {
   .imgVision {
      height: 100%;
      margin: auto;

   }

   .headingNumber {
      font-size: 2rem !important;

   }

   .headingVision {
      font-size: 16px !important;

   }


   .coverImageStudio {
      width: 100% !important;
      height: 200px !important;

   }

   .parMobile {
      font-size: 25px !important;

   }

   .uploadDocPar {
      font-size: 13px;
   }

   .patternTeam {
      width: 10%;

   }

   .contentJoin {
      width: 100%;

   }

   .patternImage {
      top: 4px !important;
      left: 12px !important;

   }

   .rakayaStudio {
      padding: 0 20px;

   }
}

.form-control:disabled {
   background-color: rgba(146, 146, 146, 0.467)
}

.date_picker_day {
   margin: 0 1px;
   font-size: 10px;
}

.react-datepicker__day-names {
   display: none;
}

.react-datepicker__header {
   background-color: transparent !important
}

.react-datepicker-wrapper {
   width: 100%;

}

.submit_button:disabled {
   background: #a99898 !important;
   cursor: not-allowed;
}


.filter-container::-webkit-scrollbar {
   width: 4px;

}

.filter-container::-webkit-scrollbar-thumb {
   background: rgb(201, 177, 113);
   border-radius: 20px;

}

.mainScroll::-webkit-scrollbar {
   width: 2px;
}

.mainScroll::-webkit-scrollbar-thumb a {
   background: rgb(201, 177, 113);

}


.filter-container::-webkit-scrollbar-thumb:hover {
   background: rgb(179, 147, 59)
}


@keyframes fadeIn {
   to {
      opacity: 1;
      transform: translateX(0);
   }
}

.legend-item {
   transform: translateX(-20px);
   opacity: 0;
}

.dark .navbar-track {
   background-color: $dark !important;
}

.dark .navbar-track p {
   color: white;
}

.dark .sidebar-track {
   background-color: $dark !important;

}

.dark .sidebar-track {
   color: white;

}

.reloadMap:hover {
   background-color: rgba(201, 177, 113, 0.171);


}

.leaflet-popup-content p {
   margin: 0 !important;
}

.dark .leaflet-tile {
   filter: invert(1) !important;
}

.dark .text_Dark {
   color: white !important;

}


.track-logos {
   border-bottom: 5px solid $primary;
   border-top: 5px solid $primary;
}

.header_table th {
   background-color: $primary !important;

}


.label_track {
   color: $primary ;
}

.dark .optionSelect {
   color: black;

}

.form-switch .form-check-input:focus {
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e")
}

.dark .form-switch .form-check-input:focus {
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e")
}

.leaflet-popup-content {
   width: 335px !important;

}

.leaflet-container a.leaflet-popup-close-button {
   left: 9px !important;
   right: inherit !important;
   top: 5px !important;

}

.main-sidebar-track {
   width: 36% !important
}

.mainMap {
   width: 74%
}

.MainFilter {
   top: 16%;
   right: 92%;
   z-Index: 989
}

.dark .main-sidebar-track,
.dark .main-sidebar-track-mobile {
   background-color: $dark;
}

@media (max-width:1200px) {
   .main-sidebar-track {
      width: 0 !important;
      transition: all 240ms;
      // transform: translateX(-500px);

   }


   .mainMap {
      width: 100%
   }

   .main-sidebar-track-mobile {
      width: 100%;
      transition: all 240ms;
      // transform: translateX(0px);

   }

   .navbar-location {
      display: none !important;
   }

   .MainFilter {
      top: 10px;
      right: 100%;
      margin: 0 5px;

   }

   .mobile-navbar {
      // position: absolute;
      // left: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   .hide-on-mobile {
      display: none;
   }

}

.trackLocation .dropdown-toggle::after {
   display: none;
}

.trackLocation .dropdown-item:focus,
.dropdown-item:hover {
   background-color: transparent !important
}

.firstPoint {
   animation: bounce 1s infinite;
   animation-delay: 0.1s;

}

.secondPoint {
   animation: bounce 1s infinite;
   animation-delay: 0.1s;

}

.threePoint {
   animation: bounce 1s infinite;
   animation-delay: 0.1s;
}

@keyframes bounce {

   0%,
   100% {
      transform: translateY(0);
   }

   50% {
      transform: translateY(-20px);
   }
}

.btn-check:checked+.btn {
   background-color: #c9b171;
   color: white;
}

/* styles.css */
.disabled-label {
   background-color: #f0f0f0;
   color: #a0a0a0;
   border-radius: 7px;
}

.makeStyles-iconContainer-3 {
   padding-top: 7px !important;
   background-color: transparent;
}

.dark .makeStyles-iconContainer-3 {
   background-color: $dark;
}

.makeStyles-iconContainer-3 svg {
   width: 30px;
   height: 30px;
   fill: red;
}

.makeStyles-iconContainer-3 svg circle {
   fill: #c9b171;
}

.profile_content {
   padding: 30px 100px
}

@media (max-width:660px) {
   .profile_content {
      padding: 3px 12px;
      margin: 0 !important;



   }

   .menuProfile {
      height: auto !important;
      margin-bottom: 20px;
   }

}

.react-tel-input {
   direction: ltr !important;
}

.react-tel-input .form-control {
   font: inherit;
   letter-spacing: inherit;
   color: currentColor;
   border: 0;
   box-sizing: border-box;
   background: none;
   height: 42.46px !important;
   margin: 0;
   -webkit-tap-highlight-color: transparent;
   display: block;
   max-width: 100%;
   width: 100% !important;
   animation-name: mui-auto-fill-cancel;
   animation-duration: 10ms;
   color: black;
   padding-left: 50px !important;
   border-radius: 8px;
   padding: 16.5px 14px;
   border: 1px solid #d8d8dd !important;
}

.react-tel-input .selected-flag {
   outline: none;
   position: relative;
   width: 46px !important;
   height: 100%;
   padding: 0 0 0 8px;
   border-radius: 3px 0 0 3px;
}

.react-tel-input .selected-flag .flag {
   position: absolute;
   top: 50%;
   left: 18px !important;
   transform: scale(1.4);
   margin-top: -5px;
}

.react-tel-input .selected-flag .arrow {
   position: relative;
   top: 50%;
   margin-top: -2px;
   right: -20px !important;
   width: 0;
   height: 0;
   border-left: 3px solid transparent;
   border-right: 3px solid transparent;
   border-top: 4px solid #555;
}

.react-tel-input .selected-flag .flag {
   left: 10px !important;
}

.react-tel-input .country-list {
   width: 321px !important;
   // max-height: 250px;
}

.react-tel-input .country-list .search .search-emoji {
   display: none;
}

.mainCardJob:hover {
   background-color: #cecece3b;
   cursor: pointer;
}

.tooltip-container {
   position: relative;
   display: inline-block;
}

.tooltip-text {
   visibility: hidden;
   width: 120px;
   background-color: black;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 5px 0;
   position: absolute;
   z-index: 1;
   bottom: 105%;
   left: 50%;
   margin-left: -60px;
   opacity: 0;
   transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
   visibility: visible;
   opacity: 1;
}

.css-1i8dcou-control {
   min-height: 42.46px !important;

}

.accordion-button::after {
   margin-right: auto !important;
   margin-left: inherit;
}

.accordion-button:not(.collapsed) {
   background-color: white;
   // color: white;
}

.accordion-button:focus {
   border-color: white;
   box-shadow: 0 0 0
}

.accordion-body {
   // background-color: #f5f5f594;
   margin: 18px;
   box-shadow: 0 0 28px -19px;
   border-radius: 10px;

}

.mainCardJob {
   // transition: transform 0.1s ease, ;
}

.card-clicked {
   // transform: scale(0.99);
   // background-color: #e0ffe0;
}

.animate {
   content: "";
   position: absolute;
   width: 20%;
   height: 20%;
   top: 0;
   left: 23%;
   transform-origin: center;
   transform-box: fill-box;
}

.animate-\[spin_2\.5s_linear_infinite\] {
   animation: spin 2.5s linear infinite;
   transform-origin: center;
   transform-box: fill-box;
}

.spin {
   animation: spin 4s linear infinite;
}

.spinReverse {
   animation: spinReverse 4s linear infinite;
}


@keyframes spin {
   0% {
      transform: rotate(0deg)
   }

   to {
      transform: rotate(1turn)
   }
}

@keyframes spinReverse {
   100% {
      transform: rotate(0deg)
   }

   to {
      transform: rotate(-1turn)
   }
}

@keyframes circleLeftAnim {
   0% {
      transform: translateX(-5px)
   }

   50% {
      transform: translateX(0px)
   }

   100% {
      transform: translateX(-5px)
   }

}

@keyframes circleRIghtAnim {
   0% {
      transform: translateX(-2px)
   }

   50% {
      transform: translateX(0px)
   }

   100% {
      transform: translateX(-2px)
   }
}

.navbar_profile .dropdown-toggle::after {
   display: none;
}

.navbar_profile .dropdown-menu li:hover {
   background-color: $primary;
   cursor: pointer;
}

.navbar_profile .dropdown-menu li:hover .dropdown-item {
   color: white;
}


.dark .accordion-button::after {
   background-color: white;
   border-radius: 4px;
   padding: 5px;

}

.bpMaTX {
   animation-duration: 0.4s;
   animation-delay: 0.05s;
   // height: 100%;
   // width: 100%;
   margin-top: -1px;
   animation-name: kmlPcW;
   // display: grid;
   place-content: center;
   width: 32%;
   margin: auto;
   text-align: center;
}

.bpMaTX_out {

   margin-top: -1px;

   place-content: center;
   width: 32%;
   margin: auto;
   text-align: center;
}

@keyframes kmlPcW {
   0% {
      transform: rotate(270deg);
   }



   100% {
      transform: rotate(0deg);
   }
}

.contact_main {
   box-shadow: rgb(136, 136, 136) 0px 1px 7px;
   transition: 0.5s;
   z-index: 9999;
   opacity: 0.8;
   animation: 2s ease 1s infinite normal none running fHpsDY;
   padding: 0px 15px 0px 20px;
}

.contact_main_out {
   box-shadow: rgb(136, 136, 136) 0px 1px 7px;
   transition: 0.5s;
   z-index: 9999;
   opacity: 0.8;
   padding: 0px 15px 0px 20px;
}

@keyframes fHpsDY {
   20% {
      transform: rotate3d(0, 0, 1, 15deg);
   }

   40% {
      transform: rotate3d(0, 0, 1, -10deg);
   }

   60% {
      transform: rotate3d(0, 0, 1, 5deg);
   }

   80% {
      transform: rotate3d(0, 0, 1, -5deg);
   }

   100% {
      transform: rotate3d(0, 0, 1, 0deg);
   }
}

.close_menu_contact {
   animation-duration: 0.4s;
   animation-delay: 0.05s;
   height: 100%;
   width: 100%;
   margin-top: -1px;
   animation-name: enuLnX;
   display: grid;
   place-content: center;
}

@keyframes enuLnX {
   0% {
      transform: rotate(-270deg);
   }

   100% {
      transform: rotate(0deg);
   }
}

.visitor {
   margin: 200px auto;
   width: 50%;
}

@media (max-width:770px) {
   .visitor {
      margin: 50px auto 100px;
      width: 100%;
   }
}

.icon-dynamic svg {
   width: 22px;
   height: 22px;
   margin: 0 10px;
   color: $primary;

}
.rotate {
   display: inline-block;
   animation: spin 0.8s linear infinite; 
 }
 
 @keyframes spin {
   from {
     transform: rotate(0deg); 
   }
   to {
     transform: rotate(360deg); 
   }
 }
 
 .video-background {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   overflow: hidden;
   z-index: 1; 
 }
 
 .video-iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   pointer-events: none;
   object-fit: cover;
 }
  .video-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(rgba(255, 255, 255, 0.89), #522222); 
   z-index: 1;
 }
 .dark .video-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(rgb(0 0 0 / 89%), #C9B171); 
   z-index: 1;
 }